<div class="col  mb-3">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card-rline h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        {%  assign pnumber = project.title | split: " "  %}
        <p class="card-text"><span style="font-size: 28px; font-weight: bold">{{ pnumber[1]}}</span><br><strong> {{ project.subtitle }} <i class="arrow right"><strong></i></p>
      </div>
    </div>
  </a>
</div>
