---
layout: default
---

<div>
    {{ content }}
</div>

{% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
        {% bibliography --cited_in_order %}
    </div>
{% endif %}
